.auth-container {
	text-align: center;
	width: 300px;
	margin: auto;
	min-height: calc(100vh - 180px);
}


.password-condition {
	display: 'flex';
    align-items: 'center';
	text-align: left;
    width: 100%;
    font-size: 12px;
    font-family: Inter;
}

.password-condition span {
	margin-left: 10px;
}